@font-face {
  font-family: "iconfont"; /* Project id 3744122 */
  src: url('./font/iconfont.woff2?t=1667802454392') format('woff2'),
       url('./font/iconfont.woff?t=1667802454392') format('woff'),
       url('./font/iconfont.ttf?t=1667802454392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e6ef";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-add-cart:before {
  content: "\e742";
}

.icon-aichegujiabeifen7:before {
  content: "\e602";
}

.icon-maichepin:before {
  content: "\e603";
}

.icon-jinrongmaichebeifen:before {
  content: "\e605";
}

.icon-yonghufankuibeifen:before {
  content: "\e604";
}

.icon-quanyizhongxinbeifen:before {
  content: "\e606";
}

.icon-mendian:before {
  content: "\e607";
}

.icon-aichegujiabeifen6:before {
  content: "\e608";
}

